{% extends 'base.html' %}
{% load static %}
{% block body %}
{{product.name}}
<img src="{{ product.product_image.url }}">

{{grade|floatformat}}
<a href="{% url 'reviews:create' product.pk %}">리뷰 쓰기</a>
{% for review in reviews %}
{% if review.review_image %}
<img src="{{ review.review_image.url }}">
{% endif %}
{{review.title}}
{{review.account}}
{{review.content}}
{{review.grade}}
{{review.created_at}}
<a href="{% url 'reviews:delete' review.pk %}">삭제</a>
<a href="{% url 'reviews:update' review.pk %}">수정</a>
{% endfor %}
{% endblock body %}