{% extends 'base.html' %}
{% load static %}

{% block body %}
  <section class="review__container">
    <p class="title text-center fw-semibold pt-3">
      <span class="title__user">{{ users.nickname }}</span>
      님의 주문 내역
    </p>

    <!-- 리뷰 리스트 -->
    <section class="review pb-5">
      {% comment %} 임의로 if문 넣은거라 바꾸시면 됩니다. {% endcomment %}
      {% if orders %}
        <table class="order__table">
          <thead>
            <tr>
              <th>주문 번호</th>
              <th></th>
              <th>주문 상품</th>
              <th>주문 상태</th>
            </tr>
          </thead>
          <!-- 여기에 주문 상품 for문 넣으시면 됩니다. -->
          <tbody>
            <tr>
              <td class="order__td--number">1234567</td>
              <td class="order__td--img">
                <img class="profile__review--img" src="http://thumbnail.10x10.co.kr/webimage/image/basic600/413/B004136948.jpg?cmd=thumb&w=500&h=500&fit=true&ws=false" alt="order-img"/>
              </td>
              <td class="order__name">모모씨 베어 키링 (6종)</td>
              <td class="order__td--status">상품 준비중</td>
            </tr>
            <tr>
              <td class="order__td--number">1234567</td>
              <td class="order__td--img">
                <img class="profile__review--img" src="http://thumbnail.10x10.co.kr/webimage/image/basic600/413/B004136948.jpg?cmd=thumb&w=500&h=500&fit=true&ws=false" alt="order-img"/>
              </td>
              <td class="order__name">모모씨 베어 키링 (6종)</td>
              <td class="order__td--status">상품 준비중</td>
            </tr>
          </tbody>
          <!-- endfor 넣는 자리 -->
        </table>
      {% else %}
        <h1 class="empty">주문 내역이 없어요 :(
        </h1>
      {% endif %} 
    </section>
  </section>
{% endblock body %}
