{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  <div id="update">

    <h1 class='text-center my-4'>
      프로필 수정 페이지</h1>
    <hr>
    <a href="{% url 'accounts:detail' user.pk %}">MY 프로필</a>

    <div class='container my-3'>
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class='btnC ' type="submit" name="" id="" value="저장하기">
        <a class="btnC " href="{% url 'accounts:changeps' %}">비밀번호 수정하기</a>
      </form>
    </div>
  </div>
{% endblock body %}
