{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/tbt_favi.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/tbt_favi.ico' %}" type="image/x-icon">
    {% block css %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'styles/init.css' %}">
      <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% endblock css %}
    <title>TBT</title>
    {% block script %}
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% endblock script %}
  </head>

  <body>
    <header></header>
    {% block title %}{% endblock title %}
    {% block index %}{% endblock index %}

    <!-- body -->
    {% block body %}{% endblock body %}
    <footer></footer>
    {% bootstrap_javascript %}
  </body>

</html>