{% extends 'base.html' %}
{% load static %}
{% block index %}
<div id="home">
    <div class="slide-area">
        <img src="https://source.unsplash.com/random/1400x600" alt="random image">
    </div>
    <section class="sec season">
        <h3 class="tit">시즌 상품</h3>
        <div class="item-area">
            <div class="item">
                <div class="img-area">
                    <p class="sale-tag">
                        <span class="sale-per">20%</span>
                    </p>
                    <img src="https://source.unsplash.com/random/385x300" alt="item image">
                </div>
                <p class="item-tit">상품 이름</p>
                <p class="item-price">가격 원 </p>
            </div>
            <div class="item">
                <div class="img-area">
                    <p class="sale-tag">
                        <span class="sale-per">20%</span>
                    </p>
                    <img src="https://source.unsplash.com/random/385x300" alt="item image">
                </div>
                <p class="item-tit">상품 이름</p>
                <p class="item-price">가격 원 </p>
            </div>
            <div class="item">
                <div class="img-area">
                    <p class="sale-tag">
                        <span class="sale-per">20%</span>
                    </p>
                    <img src="https://source.unsplash.com/random/385x300" alt="item image">
                </div>
                <p class="item-tit">상품 이름</p>
                <p class="item-price">가격 원 </p>
            </div>
        </div>
    </section>
    <section class="sec event">
        <div class="event-banner">
            <img src="https://source.unsplash.com/random/1400x450" alt="">
        </div>
    </section>
    <section class="sec sale-item">
        <div class="item-area">
            <div class="text-area">
                <h3 class="tit">이번주 한정 할인 상품</h3>
                <p>할인 종료까지 <span>N 일</span></p>
            </div>
            <div class="item">
                <div class="img-area">
                    <p class="sale-tag">
                        <span class="sale-per">20%</span>
                    </p>
                    <img src="https://source.unsplash.com/random/385x300" alt="item image">
                </div>
                <p class="item-tit">상품 이름</p>
                <p class="item-price">가격 원 </p>
            </div>
            <div class="item">
                <div class="img-area">
                    <p class="sale-tag">
                        <span class="sale-per">20%</span>
                    </p>
                    <img src="https://source.unsplash.com/random/385x300" alt="item image">
                </div>
                <p class="item-tit">상품 이름</p>
                <p class="item-price">가격 원 </p>
            </div>
            <div class="item">
                <div class="img-area">
                    <p class="sale-tag">
                        <span class="sale-per">20%</span>
                    </p>
                    <img src="https://source.unsplash.com/random/385x300" alt="item image">
                </div>
                <p class="item-tit">상품 이름</p>
                <p class="item-price">가격 원 </p>
            </div>
        </div>
    </section>
    <section class="sec md-item">
        <div class="item-area">
            <div class="text-area">
                <h3 class="tit">MD'S Pick</h3>
                <p>템바이템 엠디가</p>
                <p>자신있게 추천합니다</p>
            </div>
            <div class="item">
                <div class="img-area">
                    <img src="https://source.unsplash.com/random/385x300" alt="item image">
                </div>
                <p class="item-tit">상품 이름</p>
            </div>
            <div class="item">
                <div class="img-area">
                    <img src="https://source.unsplash.com/random/385x300" alt="item image">
                </div>
                <p class="item-tit">상품 이름</p>
            </div>
            <div class="item">
                <div class="img-area">
                    <img src="https://source.unsplash.com/random/385x300" alt="item image">
                </div>
                <p class="item-tit">상품 이름</p>

            </div>
        </div>
    </section>
</div>

{% endblock index %}