@import url(./main.css);

:root {
	--rate: #ffd61e;
	--gr: #f1f1f1;
}
.btnC {
	background: var(--main);
	color: var(--bg);
	border-radius: 0.2rem;
	padding: 1rem 0.5rem;
	transition: 0.3s;
	cursor: pointer;
}

.btnC:hover {
	background: var(--main-sub);
}

.hidden {
	display: none;
	opacity: 0;
}
.modalC {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -45%);
	max-width: 80rem;
	background: var(--bg);
	padding: 5rem 6rem;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
	z-index: 1000;
	transition: all 0.5s;
}
.overlayC {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	z-index: 100;
	transition: all 0.5s;
}
.scroll-block {
	overflow: hidden;
}
#product-detail #rev-modal-btn,
#product-detail .qna-modal-btn {
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--main);
	cursor: pointer;
}
#review,
#qna {
	padding: 2rem;
}
#review .tit-area,
#qna .tit-area {
	position: relative;
	margin-bottom: 3rem;
}
#review .tit-area .tit,
#qna .tit-area .tit {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}
#review .tit-area .btn-close,
#qna .tit-area .btn-close {
	font-size: 1.5rem;
	position: absolute;
	right: -1rem;
	top: -1.5rem;
	cursor: pointer;
}
#review .sect,
#qna .sect {
	margin-bottom: 3rem;
}
#review .item-area,
#qna .item-area {
	display: flex;
	align-items: center;
}
#review .item-area .img-area,
#qna .item-area .img-area {
	margin-right: 1.5rem;
}
#review .item-area .info p,
#qna .item-area .info p {
	color: var(--main);
	font-weight: 700;
	margin-bottom: 1rem;
}
#review .sub-tit,
#qna .sub-tit {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
#review .sub-tit span {
	color: var(--highlight);
}

#review .review-form .btnC,
#qna .qna-form .btnC {
	width: 100%;
}
#review .review-form .rate-area input {
	display: none;
}
#review .review-form .rate-area label {
	color: var(--line);
	transition: all 0.2s ease;
	/* float: right; */
	margin: 0 0.3rem;
	font-size: 1.8rem;
	cursor: pointer;
}

#review .review-form .rate-area input:not(:checked) ~ label:hover,
#review .review-form .rate-area input:not(:checked) ~ label:hover ~ label {
	color: var(--rate);
}
#review .review-form .rate-area input:checked ~ label {
	color: var(--rate);
}
#review .review-form .review-txt textarea,
#qna .qna-form .qna-txt textarea {
	border: 1px solid var(--line);
	border-radius: 0.2rem;
	padding: 0.3rem 0.5rem;
	background: var(--gr);
	width: 100%;
}
#review .review-form .review-img span {
	font-size: 0.95rem;
}
#review .review-form .review-img .upload-btn {
	border: 2px solid var(--main);
	border-radius: 0.2rem;
	display: block;
	text-align: center;
	cursor: pointer;
	padding: 1rem;
	margin-top: 1rem;
	transition: 0.2s;
	color: var(--main);
	font-weight: 700;
}
#review .review-form .review-img .upload-btn:hover {
	background: var(--main);
	color: var(--bg);
}
#review .review-form .review-img input[type="file"] {
	display: none;
}
#review .review-form .review-txt textarea:focus,
#review .review-form .review-txt textarea:active,
#qna .qna-form .qna-txt textarea:focus,
#qna .qna-form .qna-txt textarea:active {
	border: 2px solid var(--main);
}
#qna .qna-cate .cate-area {
	width: 100%;
	text-align: center;
}
#qna .qna-cate .cate-area td {
	border: 2px solid var(--main);
	padding: 1rem 0;
	transition: 0.2s;
	cursor: pointer;
}
#qna .qna-cate .cate-area td:hover,
#qna .qna-cate .cate-area td.tab-active {
	background: var(--main);
	color: var(--bg);
}
